<h2 class="title-edit">Edita una tarea</h2>

<div class="container">
  <%= simple_form_for (@task) do |f| %>
    <%= f.input :title, input_html: { class: 'form-control'}  %>
    <%= f.input :details, input_html: { class: 'form-control'}  %>
    <% unless f.object.new_record? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :completed %> Completed
          </label><br>
        </div><br>
      <% end %>
    <%= f.submit "Submit a task", class: "btn btn-new" %><br>
    <%= link_to "Go back", tasks_path, class:"btn btn-return btn-form" %>
  </div>
  <% end %>
</div>
